<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
</head>

<body>
  <nav th:fragment = "navbar">
    <div class="Navbar">
      <a class="active" th:href="@{/}">Home</a>
      <a href = "getAutori">Autori</a>
      <a href="../collezione.html">Collezioni</a>
      <a href="../informazioni.html">Informazioni</a>
    </div>
  </nav>

  <footer th:fragment = "footer">
    <div class="footer-content">
        <div class="footer-text">
            <p>
                copirait by noi copirait by noi copirait by noi copirait by noi 
                copirait by noi copirait by noi copirait by noi copirait by noi 
                copirait by noi copirait by noi copirait by noi copirait by noi 
                copirait by noi copirait by noi copirait by noi copirait by noi 
            </p>
        </div>
        <div class="footer-social">
            <li>
                <a href="#"> <img class="social-icon" src="/images/social icons/fb.png"> </a>
            </li>
            <li>
                <a href="#"> <img class="social-icon" src="/images/social icons/ig.png"> </a>
            </li>
            <li>
                <a href="#"> <img class="social-icon" src="/images/social icons/yt.png"> </a>
            </li>
        </div>
    </div>
</footer>
</body>

</html>