<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>

<body>
	<header th:fragment = "navbar">
		<h1 id="museoTitle">MUSEOFANTASMAGORICO</h1>
		<nav>
    		<ul class="navbar">
      			<li><a class="active" th:href="@{/default}">Home</a></li>
      			<li><a href = "/artista">Autori</a></li>
      			<li><a href="/collezioni">Collezioni</a></li>
      			<li><a href="/informazioni">Informazioni</a></li>
   			</ul>
  		</nav>
  		<div class="container-register">
  			<a th:href= "@{/register}"><i class="fas fa-user-circle"></i></a>
  		</div>
	</header>
  

  <footer th:fragment = "footer">
        <div class="footer-text">
            <p>
                copirait by noi copirait by noi copirait by noi copirait by noi 
                copirait by noi copirait by noi copirait by noi copirait by noi 
                copirait by noi copirait by noi copirait by noi copirait by noi 
                copirait by noi copirait by noi copirait by noi copirait by noi 
            </p>
        </div>
        <div class="footer-social">
            <li>
                <a href="#"> <img class="social-icon" src="/images/social icons/fb.png"> </a>
            </li>
            <li>
                <a href="#"> <img class="social-icon" src="/images/social icons/ig.png"> </a>
            </li>
            <li>
                <a href="#"> <img class="social-icon" src="/images/social icons/yt.png"> </a>
            </li>
        </div>
</footer>
</body>
</html>