<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>

<body>
	<header th:fragment = "navbar">
		<h1 id="museoTitle">MUSIW</h1>
		<nav>
    		<ul class="navbar">
      			<li><a class="active" th:href="@{/default}">Home</a></li>
      			<li><a href = "/artista">Autori</a></li>
      			<li><a href="/collezioni">Collezioni</a></li>
      			<li><a href="/informazioni">Informazioni</a></li>
   			</ul>
  		</nav>
  		<div class="container-register">
  			<a th:href= "@{/register}"><i class="fas fa-user-circle"></i></a>
  		</div>
	</header>
  

  <footer th:fragment = "footer">
        <div class="footer-text">
        	<div>
        		<p>
                	Sito web di MUSIW.
				</p>
        	</div>
        	<div>
        		<p>
                	© 2021 - 2021 MUSIW
				</p>
        	</div>
        </div>
        <div class="footer-social">
            <li>
                <a href="#"><i class="fab fa-twitter-square" style="color:white";></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-google-plus-square" style="color:white";></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-facebook-square" style="color:white";></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram-square" style="color:white";></i></a>
            </li>
        </div>
</footer>
</body>
</html>