<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="stylesheet" href="../../static/css/style.css">
  </head>
  	<body>
  		<footer>
  			<div class="footer-text">
 				 <p>
 	 				copirait by noi
  				</p>
  			</div>
  			<div class="footer-social-icons">
  				<ul class="Menu">
  					<li><a href="#"> <img src="../../static/images/social icons/fb.png" >   </a></li>
  					<li><a href="#"> <img src="../../static/images/social icons/ig.png"> </a></li>
  					<li><a href="#"> <img src="../../static/images/social icons/yt.png"> </a></li>
  				</ul>
 			 </div>
  </footer>
</body>
</html>