<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/components.html :: headerfiles(title=#{pageTitle.artista})"></head>

<body>
	<a th:href="@{'/removeArtista' + '/' + ${artista.id}}">rimuoviArtista</a>
    <div th:object="${artista}" class="container-artist-information">
        <!--nome e cognome dell'artista-->
        <h2 th:text="|${artista.nome} ${artista.cognome}|">Vincent van Gogh</h2>
        <!--data e luogo di nascita, data e luogo di morte dell'artista-->
        <h5 th:text="|${artista.luogoDiNascita}, ${artista.dataDiNascita} - ${artista.luogoDiMorte}, ${artista.dataDiMorte}|">Zundert, 30 marzo 1853 – Auvers-sur-Oise, 29 luglio 1890</h5>
        <!--nazionalità dell'artista-->
        <h6 th:text="${artista.nazionalita}">Olanda</h6>
        <div class="container-artist-image">
            <img class="artist-image" src="/images/VanGogh_1887_Selbstbildnis.jpg"
                alt="Impossibile caricare immagine artista">
        </div>

        <div class="contaner-artist-description">
            <!--biografia dell'artista-->
            <p>Appartenente a una famiglia di orefici e mercanti d’arte, nacque da un pastore protestante.
                Nel 1869 iniziò a lavorare per la casa d’arte Goupil, per la quale realizzava riproduzioni di opere
                d’arte e grazie a cui nel 1873 fu trasferito prima a Bruxelles e poi a Londra. Nel 1875 giunse a Parigi
                e l’anno seguente lasciò il lavoro e iniziò a insegnare nei pressi di Londra, dove prese anche a
                collaborare con un pastore metodista. La famiglia gli impedì di continuare l’attività, date le precarie
                condizioni fisiche, così si iscrisse alla facoltà di teologia di Amsterdam.
                In questi anni, nella fitta corrispondenza con il fratello che durò tutta la vita, Théo lo spinge a
                iscriversi all’Accademia di Belle Arti di Bruxelles. Del 1881 sono le sue prime Nature morte. Dopo
                alcune travagliate vicende sentimentali, realizzò le due versioni del celebre I mangiatori di patate
                (1885).
                Tra 1886 e 1887 fu ad Anversa e a Parigi, dove venne influenzato dall’arte impressionista e puntinista.
                Nel 1888 si trasferì ad Arles dove visse un periodo molto prolifico e di sperimentazione (sono questi
                gli anni dei celebri Camera di Van Gogh e Vaso di girasoli) e propose a Gauguin di raggiungerlo. I due
                avevano visioni opposte e i continui scontri portarono all’episodio del taglio del proprio orecchio da
                parte di Van Gogh che, dopo il gesto, venne ricoverato in ospedale, mentre Gauguin partì per la
                Martinica.
                Uscito nel 1889, entrò volontariamente nella casa di cura Maison de santé di Saint-Pal-de-Mausole nei
                pressi di Arles, per epilessia. In questo periodo realizzò La notte stellata (New York, MoMA) e il suo
                amico, il pittore Emile Bernard invitò il critico Aurier a scrivere su Van Gogh. Era il 1890, anno della
                morte di Vincent, che da quel momento divenne uno degli artisti più famosi della storia</p>
        </div>
    </div>

    <div class="contaier-opere">
        <h5>Le opere dell'artista:</h5>

        <a href="opera.html">
            <img class = "opera-image" src="/images/opera_vangog_1.jpg" alt="Impossibile caricare immagine dell'opera">
        </a>

        <a href="opera.html">
            <img class = "opera-image" src="/images/opera_vangog_1.jpg" alt="Impossibile caricare immagine dell'opera">
        </a>

        <a href="opera.html"><img class = "opera-image" src="/images/opera_vangog_1.jpg"
                alt="Impossibile caricare immagine dell'opera"></a>
    </div>
</body>

</html>