<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{pageTitle.autori})"></head>
</head>
<body>
    <nav th:replace = "fragments/components.html :: navbar"></nav>
    <div class="container-artisti">
    	<h1>Artisti:</h1>
    	<ul class="artisti-ul">
        	<li th:each="artista : ${artisti}">
            <a href="artista.html" th:href="@{'/artista' + '/' + ${artista.id}}" 
             th:text="|${artista.nome} ${artista.cognome}|">Nome cognome</a>
        	</li>
    	</ul>
    </div>
    <footer th:replace = "fragments/components.html :: footer"></footer>
</body>
</html>