<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{pageTitle.autori})"></head>
</head>
<body>
    <nav th:replace = "fragments/components.html :: navbar"></nav>


    <form th: action= "@{/artista}" method="POST" th:object = "${artista}">
        <div th:if="${#fields.hasGlobalErrors()}">
          <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
      </div>		
        <div>
            <span>Nome: </span>
            <span> <input type="text" th:field = "*{nome}"></span>
            <span> <th :if = "${#fields.hasErrors('nome')}" th errors = "*{nome}"></span>
        </div>

        <div>
            <span>Cognome: </span>
            <span> <input type="text" th:field = "*{cognome}"></span>
            <span> <th :if = "${#fields.hasErrors('cognome')}" th errors = "*{cognome}"></span>
        </div>
      
        <div>
            <span><button type="submit"> Invio </button></span>
            <span><button type="button"> Annulla</button></span>
        </div>
      
      </form>


    <div>
        <ul class = "listaAutori">
            <li th:each="artista : ${artisti}">
                <a href="artista.html" th:href="@{'/artista' + '/' + ${artista.id}}" 
      				th:text="|${artista.nome} ${artista.cognome}|">Nome cognome</a>
            </li>    
        </ul>
    </div>
    


    <footer th:replace = "fragments/components.html :: footer"></footer>
</body>
</html>