<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.collezione})"></head>

<body>
    <nav th:replace = "fragments/components.html :: navbar"></nav>
	<div th:object="${collezione}">
		<h1 th:text="*{nome}">Espressionismo</h1>
		<h2>Curatore:</h2>
		<h2 th:text="*{curatore.nome}"></h2>
	</div>
	
    

    <div class="container-collezione">
        <div class="item-collezione">
            <img class="immagine-opera-museo" src="/images/opera_vangog_1.jpg">
            <div>
                <a href="opera.html">"La Notte Stellata"
                    <a href="artista.html">(Vincent Van Gogh)</a>
                </a>
            </div>
        </div>


        <div class="item-collezione">
            <img class="immagine-opera-museo" src="/images/opera_vangog_1.jpg">
            <div>
                <a href="opera.html">"La Notte Stellata"
                    <a href="artista.html">(Vincent Van Gogh)</a>
                </a>
            </div>
        </div>
    </div>
    
    <footer th:replace = "fragments/components.html :: footer"> </footer>
    
</body>

</html>