<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.collezione})"></head>

<body>
    <nav th:replace = "fragments/components.html :: navbar"></nav>
    
	<div class="information" th:object="${collezione}">
		<h2 th:text="*{nome}">Espressionismo</h2>
		<h5 th:text="'Curatore:' + ' ' + *{curatore.nome}"></h5>
	</div>

    <div class="container-opere">
        <div th:each="opera : ${collezione.opere}">
        	<a th:href="'/artista' + '/' + ${opera.artista.id}" th:text="|${opera.artista.nome} ${opera.artista.cognome}|">Vincent van Gogh</a>
			<a href="opera.html" th:href="'/opera' + '/' + ${opera.id}"><img class = "opera-image" th:src="${opera.immagine}"
                alt="Impossibile caricare immagine dell'opera"></a>
            <a th:href="'/opera' + '/' + ${opera.id}" th:text="${opera.titolo}">Notte stellata</a>
		</div>
    </div>
    <!--
            <div>
                <a href="opera.html">"La Notte Stellata"
                    <a href="artista.html">(Vincent Van Gogh)</a>
                </a>
            </div>
     


        <div class="item-collezione">
            <img class="immagine-opera-museo" src="/images/opera_vangog_1.jpg">
            <div>
                <a href="opera.html">"La Notte Stellata"
                    <a href="artista.html">(Vincent Van Gogh)</a>
                </a>
            </div>
        </div>
    </div>
    --> 
    
    <footer th:replace = "fragments/components.html :: footer"> </footer>
    
</body>

</html>