<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.museo})"></head>

<body>
  	<nav th:replace = "/fragments/components.html :: navbar"></nav>
  	<div class="container-collezioni">
  		<h1>Collezioni:</h1>
  		<ul>
  			<li th:each="collezione : ${collezioni}">
  				<a href="collezione.html" th:href="@{'/collezione' + '/' + ${collezione.id}}" 
  					th:text="${collezione.nome}">Nome Cognome</a>
  			</li>
  		</ul>
  	</div>
  	<footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>