<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/style.css">
    <title>Collezione</title>
</head>

<body>
    <nav th:replace = "fragments/navbar.html"></nav>

    <h1>
        Espressionismo
    </h1>

    <h2>
        Curatore: Jake La Furia
    </h2>


    <a href="addOpera">aggiungi una opera alla collezione</a>


    <div class="container-collezione">
        <div class="item-collezione">
            <img class="immagine-opera-museo" src="/images/opera_vangog_1.jpg">
            <div>
                <a href="opera.html">"La Notte Stellata"
                    <a href="artista.html">(Vincent Van Gogh)</a>
                </a>
            </div>
        </div>


        <div class="item-collezione">
            <img class="immagine-opera-museo" src="/images/opera_vangog_1.jpg">
            <div>
                <a href="opera.html">"La Notte Stellata"
                    <a href="artista.html">(Vincent Van Gogh)</a>
                </a>
            </div>
        </div>
    </div>
</body>

</html>