<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{pageTitle.curatoreForm})"> </head>
<body>
<div class="container-form">
<div class = "container-style">
	<legend class = "form-title"> Form Curatore  </legend>
	<form th:action="@{/admin/curatore}" method="POST" th:object="${curatore}">
		<div class="flex-form">
			<div th:if="${#fields.hasGlobalErrors()}">
  				<p style="color: #e61919; font-size: 1.8rem; font-weight: bold;"th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
			</div>
			<div>
      			<span>Nome:</span>
      			<span><input type="text" th:field="*{nome}"></span>
      			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
  			</div>
  			<div>
      			<span>Cognome:</span>
      			<span><input type="text" th:field="*{cognome}"></span>
      			<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
  			</div>
  			<div>
      			<span>Data di nascita:</span>
      			<span><input type="date" th:field="*{dataDiNascita}"></span>
      			<span th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="*{dataDiNascita}"></span>
  			</div>
  			<div>
      			<span>Luogo di nascita:</span>
      			<span><input type="text" th:field="*{luogoDiNascita}"></span>
      			<span th:if="${#fields.hasErrors('luogoDiNascita')}" th:errors="*{luogoDiNascita}"></span>
  			</div>
			<div>
      			<span>Email:</span>
      			<span><input type="text" th:field="*{email}"></span>
      			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
  			</div>
			<div id="submit-button">
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
</div>
</div>
</body>
</html>