<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.museo})"></head>

<body>
  <nav th:replace = "/fragments/components.html :: navbar"></nav>

  <a href="addArtista">aggiungi artista</a>
  <a href="addOpera">aggiungi opera</a>

  <h1>MUSEO VAN GOGH</h1>
  
  <div class="container-image-museo">
    <img src="/images/museo_1.jpg" alt="...">
  </div>

  <div class="contaier-opere-museo">
    <img class="immagine-opera-museo" src="/images/museo_1.jpg" alt="...">
    <img class="immagine-opera-museo" src="/images/museo_1.jpg" alt="...">
    <img class="immagine-opera-museo" src="/images/museo_1.jpg" alt="...">
  </div>

  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>