<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/style.css">
  <title>Museo</title>
</head>

<body>
  <nav th:replace = "/fragments/components.html :: navbar"></nav>

  <div class="container-image-museo">
    <h1>museoFantasmagorico!!</h1>
    <img src="/images/museo_1.jpg" alt="...">
  </div>

  <div class="contaier-opere-museo">
    <img class="immagine-opera-museo" src="/images/museo_1.jpg" alt="...">
    <img class="immagine-opera-museo" src="/images/museo_1.jpg" alt="...">
    <img class="immagine-opera-museo" src="/images/museo_1.jpg" alt="...">
  </div>

  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>