<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.museo})"></head>

<body>
  <nav th:replace = "/fragments/components.html :: navbar"></nav>
  <!--
  <div class="container-image-museo">
    <img src="/images/museo_2.jpg" width="100%" height="100%" alt="...">
  </div>
  <div class="container-testo-museo">
  	<h1>MUSEOFANTASMAGORICO</h1>
  	<p>
  	desc museo, desc museo desc museo, desc museo desc museo, desc museo desc museo, desc museo.
  	desc museo, desc museo desc museo, desc museo desc museo, desc museo desc museo, desc museo.
  	desc museo, desc museo desc museo, desc museo desc museo, desc museo desc museo, desc museo.
  	desc museo, desc museo desc museo, desc museo desc museo, desc museo desc museo, desc museo.
  	desc museo, desc museo desc museo, desc museo desc museo, desc museo desc museo, desc museo.
  	desc museo, desc museo desc museo, desc museo desc museo, desc museo desc museo, desc museo.
  	</p>
  </div>
  -->
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>