<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.streamNet})"></head>

<body>
  <nav th:replace = "/fragments/components.html :: navbar"></nav>
  <h1>collezione da modificare:</h1>
  <ul>
  	<li th:each="collezione : ${collezioni}">
  		<a th:href="@{'/admin/collezioneDaModificare' + '/' + ${collezione.id}}" th:text="${collezione.nome}"></a>
  	</li>
  </ul>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>