<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{title.operaForm})"> </head>
<body>
	<form th:action="@{/opera}" method="POST" th:object="${opera}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
  		<div>
      		<span>Titolo:</span>
      		<span><input type="text" th:field="*{titolo}"></span>
      		<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
  		</div>

  		<div>
      		<span><button type="submit">Invio</button></span>
  		</div>
	</form>
</body>
</html>