<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{title.operaForm})"> </head>
<body>
<div class="container-form">
<div class = "container-style">
  <legend class = "form-title"> Form Opera  </legend>
 	<form th:action="@{/admin/opera}" method="POST" th:object="${opera}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<div>
      			<span >Titolo:</span>
      			<span><input type="text" th:field="*{titolo}"></span>
      			<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
  			</div>
  			<div>
      			<span>Anno di realizzazione:</span>
      			<span><input type="text" th:field="*{annoDiRealizzazione}"></span>
      			<span th:if="${#fields.hasErrors('annoDiRealizzazione')}" th:errors="*{annoDiRealizzazione}"></span>
  			</div>
  			<div>
      			<span>Descrizione:</span>
      			<span><input type="text" th:field="*{descrizione}"></span>
      			<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
  			</div>
  			<div>
      			<span>URL immagine:</span>
      			<span><input type="text" th:field="*{immagine}"></span>
      			<span th:if="${#fields.hasErrors('immagine')}" th:errors="*{immagine}"></span>
  			</div>
  			<div>
      			<span>id autore:</span>
      			<span><input type="text" th:field="*{artista.id}"></span>
      			<span th:if="${#fields.hasErrors('artista')}" th:errors="*{artista.id}"></span>
  			</div>
  			<div>
      			<span>id collezione:</span>
      			<span><input type="text" th:field="*{collezione.id}"></span>
      			<span th:if="${#fields.hasErrors('collezione')}" th:errors="*{collezione.id}"></span>
  			</div>
  			<div>
      			<span><button type="submit">Invio</button></span>
  			</div>
		</div>
	</form>
</div>
</div>
</body>
</html>