<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>Opera</title>
</head>

<body>
    <div class="container-opera">
        <img src="/images/opera_vangog_1.jpg" alt="Impossibile caricare l'immagine">


        <h5 class="card-title">La notte stellata <a class="author" href="artista.html">(Vincent Van Gogh)</a></h5>
        
        <div class="accordion-body">Notte stellata di Vincent van Gogh è uno degli ultimi inquietanti dipinti che realizzò l’artista prima di terminare tragicamente la sua vita </div>
    </div>
</body>

</html>