<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{pageTitle.opera})"></head>
<body>
	<nav th:replace = "fragments/components.html :: navbar"></nav>
    <div class="container-opera">
        <img src="/images/opera_vangog_1.jpg" alt="Impossibile caricare l'immagine">


        <h5 class="card-title">La notte stellata <a class="author" href="artista.html">(Vincent Van Gogh)</a></h5>
        
        <div class="accordion-body">Notte stellata di Vincent van Gogh è uno degli ultimi inquietanti dipinti che realizzò l’artista prima di terminare tragicamente la sua vita </div>
    </div>
    <footer th:replace = "fragments/components.html :: footer"></footer>
</body>

</html>