<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{pageTitle.registrazione})"> </head>
<body>
	<nav th:replace = "/fragments/components.html :: navbar"></nav>
	
	<div class = "container-effettuata">
	<h1 id="registrazioneEffettuata">REGISTRAZIONE EFFETTUATA</h1>
	</div>
	
	<div class = "login_button">
	<a href= "/login"> <button type ="button"> Login </button></a>	
	</div>
	
	<footer th:replace = "/fragments/components.html :: footer"></footer>
</body>