<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: headerfiles(title=#{pageTitle.autori})"></head>
<body>
    <div class="container-artisti">
    	<h1>Artisti da rimuovere:</h1>
    	<ul class="artisti-ul">
        	<li th:each="artista : ${artisti}">
            <a th:href="@{'/removeArtista' + '/' + ${artista.id}}" 
             th:text="|${artista.nome} ${artista.cognome}|">Nome cognome</a>
        	</li>
    	</ul>
    </div>
</body>
</html>