*{
	box-sizing: border-box;
	font-size: 100%;
    margin: 0px;
    padding: 0px;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: rgb(255, 255, 255);
}

header{
	background-color: rgb(5, 103, 252);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.navbar {
	list-style: none;
	padding: 0px 50px;
}

.navbar li{
	display: inline-block;
	padding: 0px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar a:hover {
    color:deepskyblue
}

#museoTitle{
	font-size: 1.5rem;
	color: white;
}

#registrazioneEffettuata{
	font-size: 2.5rem;
	color: rgb(5, 103, 252);
	text-decoration: none;
	padding: 30px 30px;
	text-align: center;
}

footer {
    background-color: rgb(5, 103, 252);
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.footer-text{
	display:flex;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    margin:5px;
}

.footer-social{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin:5px;
}
.social-icon{
    width:40px;
    height:40px;
}

.container-image-museo{
	display: flex;
    justify-content: center;
    align-items: center;
}

.container-testo-museo{
	text-align: start;
	font-size: 1.5rem;
	padding: 30px 30px;
}

.artist-image{
    width: 400px;
    height: 400px;
}
.container-collezione{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item-collezione{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.container-artist-description{
	display: flex;
	align-items: center;
	text-align: start;
	padding: 1px 30px;
}
.container-artist-information{
	display:flex;
	padding: 20px 20px;
}
.artist-information{
	text-align: center;
}
.artist-information h2{
	font-size: 3rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container-opere{
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 20px 20px;
	flex-wrap: wrap;
}
.container-opere div{
	display:flex;
	flex-direction: column;
	padding: 0px 30px;
}
.container-opere div a{
	display:flex;
}
.container-opere div p{
	display:flex;
}
.opera-image{
	width:400px;
	height:300px;
}
.artisti-ul{
	text-align: center;
}
.artisti-ul li{
	padding: 5px 0px;
}
.artisti-ul li a{
	text-decoration: none;
}
.container-artisti{
	padding: 10px 0px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1.4rem;
}
.container-form{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px 0px;
	
}

.container-style{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-top: 25px solid rgb(5, 103, 252);
	border-radius: 40px 40px 0px 0px;
	border-left: 5px solid rgb(5, 103, 252);
	border-right: 5px solid rgb(5, 103, 252);
	border-bottom: 5px solid rgb(5, 103, 252);
	padding: 20px;
	}
input{
	margin: 5px;
}
.form-title{
	display: inline;
	padding-right: 50px;
	font-size: 30px;
	text-decoration: overline underline dashed;
	
	
}

form{
	display:flex;
	padding: 10px;
	text-align: start;
	font-size : 1.5rem;
	
}
.container-collezioni{
	padding: 10px 0px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1.4rem;
}
.container-register{
	font-size: 4rem;
	display:flex;
	padding-left: 200px;
}
.container-register a i{
	color: white;
}
.container-operazioni-amministratore{
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 15px 25px;
}

.operazioni-amministartore-item{
	display: flex;
}

.login_button{
	display:flex;
	padding-left : 1200px;
	padding-top: 2px;
	padding-bottom: 2px;
	border : 3px black;
}

.container_effettuata{
	display : flex;
	border-top: 25px solid rgb(5, 103, 252);
	border-radius: 40px 40px 40px 40px;
	
}