*{
	box-sizing: border-box;
	font-size: 100%;
    margin: 0px;
    padding: 0px;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: rgb(255, 255, 255);
}

header{
	background-color: rgb(5, 103, 252);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 5%;
}

.navbar {
	list-style: none;
	padding: 0px 50px;
}

.navbar li{
	display: inline-block;
	padding: 0px 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar a:hover {
    color:deepskyblue
}

#museoTitle{
	font-size: 1.5rem;
	color: white;
}

#registrati{
	font-size: 2.5rem;
	color: rgb(5, 103, 252);
	text-decoration: none;
	padding: 30px 30px;
	text-align: center;
}

#registrazioneEffettuata{
	font-size: 2.5rem;
	color: rgb(5, 103, 252);
	text-decoration: none;
	padding: 30px 30px;
	text-align: center;
}

footer {
    background-color: rgb(5, 103, 252);
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.footer-text{
	display:flex;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    margin:5px;
}

.footer-social{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin:5px;
}
.social-icon{
    width:40px;
    height:40px;
}

.container-image-museo{
	display: flex;
    justify-content: center;
    align-items: center;
}

.container-testo-museo{
	text-align: start;
	font-size: 1.5rem;
	padding: 30px 30px;
}

.artist-image{
    width: 400px;
    height: 400px;
}
.container-collezione{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item-collezione{
    display: flex;
    flex-direction: column;
    padding: 10px;
}