<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/components.html :: headerfiles(title=#{pageTitle.museo})"></head>

<body>
  <nav th:replace = "/fragments/components.html :: navbar"></nav>
  <div class="container-operazioni-amministratore">
  	<h1 style="text-align: center;">Menu Amministratore</h1>
  	<div class="operazioni-amministartore-item">
  		<a href="/admin/addOpera">Aggiungi opera</a>
  	</div>
  	<div class="operazioni-amministartore-item">
  		<a href="/admin/addArtista">Aggiungi artista</a>
  	</div>
  	<div class="operazioni-amministartore-item">
  		<a href="/admin/addCollezione">Aggiungi collezione</a>
  	</div>
  	<div class="operazioni-amministartore-item">
  		<a href="/admin/addCuratore">Aggiungi curatore</a>
  	</div>
  	<div class="operazioni-amministartore-item">
  		<a href="/admin/rimuoviArtista">Rimuovi artista</a>
  	</div>
  	<div class="operazioni-amministartore-item">
  		<a href="/admin/rimuoviOpera">Rimuovi opera</a>
  	</div>
  	<div class="operazioni-amministartore-item">
  		<a href="/admin/rimuoviCuratore">Rimuovi curatore</a>
  	</div>
  	<div class="operazioni-amministartore-item">
  		<a href="/admin/rimuoviCollezione">Rimuovi collezione</a>
  	</div>
  </div>
  
  <div class="container-opere">
        <div th:each="opera,iterStat : ${opere}" th:if="${iterStat.index}<5">
			<img class = "opera-image" th:src="${opera.immagine}" alt="Impossibile caricare immagine dell'opera">
		</div>
  </div>
  <footer th:replace = "/fragments/components.html :: footer"></footer>
</body>
</html>